<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hate Crime Stats</title>
	<link type="text/css" rel="stylesheet" href="index.css"></link>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<template src="./cityData.html" ></template>

		<div class="safest-states">
			<h1>Safest States</h1>
			<select name="minority" id="minority-dropdown" v-model="minority">
				<option disabled value="">Select a Minority</option>
				<option value="gender">Gender</option>
				<option value="genderIdentity">Gender Identity</option>
				<option value="religion">Religion</option>
				<option value="race">Race</option>
				<option value="sexOrientation">Sexual Orientation</option>
				<option value="disability">Disibility</option>
			</select>
			<button @click="getSafestStates(minority)">Select</button>
			<h3 v-for="(option, i) in bestMinorityStates">{{ option.state }}</h3>
		</div>

	</div>
	<script src="index.js" />
</body>
</html>